img{
    width: 50px;
    height: 50px;
}
header{
    background: rgb(67, 65, 65);
    padding: 25px;
    
}
*{  /* asterisco representa toda a página*/
	margin: 0;
	padding: 0;
}
footer{
    background: rgb(67,65,65);
    border-top: 1px solid #585151;
    height: 250px;
    padding: 30px;
}
.frase {
    text-align: center;
}
.cor{
    color: #555;
}
#cabeçalho{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
